body{
    text-align: center;
    background-color: rgb(157, 255, 186);
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 3px solid black;
    margin: 1rem 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.blue{
    background-color: #63aac0;
}

.yellow{
    background-color: #f99b45;
}

.purple{
    background-color: #819ff9 ;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: rgb(51, 255, 0);
}
